#countries {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.875rem 1.25rem;
  align-items: center;
}

@media screen and (min-width: 430px) {
  #countries {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}
.app-light .countries {
  background-color: hsl(0, 0%, 98%);
}
.app-dark .countries {
  background-color: hsl(207, 26%, 17%);
}
