.details {
  padding: 1.25rem;
  font-size: 1rem;
  min-height: 85vh;
  flex-grow: 1;
}

.details-flex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 550px) {
  .details-flex {
    flex-direction: row;
    gap: 3.125rem;
    justify-content: flex-start;
  }
  .details-flex .img-container {
    width: 50%;
  }
  .details-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details a {
  text-decoration: none;
}

.details-dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.details-dark a:-webkit-any-link {
  color: hsl(0, 0%, 100%);
}

.details-light {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.details-light a:-webkit-any-link {
  color: hsl(200, 15%, 8%);
}

.details img {
  width: 100%;
  border-radius: 0.625rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.btn-back {
  margin-bottom: 0.5rem;
}

.btn-borders {
  font-size: 0.875rem;
  margin: 0.5rem 0.5rem 0 0;
}

.detail-label {
  font-weight: 600;
}

.country-detail-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 900px) {
  .country-detail-container {
    flex-direction: row;
    gap: 3.125rem;
  }
}

.details-dark .btn {
  background-color: hsl(209, 23%, 22%);
}
.details-light .btn {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 20%);
}

.btn i {
  margin-right: 1rem;
}

.lds-ring {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 5rem;
  height: 5rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.details-light .lds-ring div {
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
