html {
  font-family: "Nunito Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  min-width: 330px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#query {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding: 10px;
}

@media screen and (min-width: 430px) {
  #query {
    flex-direction: row;
    justify-content: space-between;
  }
}

#query input {
  padding: 10px 10px 10px 50px;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  margin: 5px;
}

.input__country {
  position: relative;
}

.input__country input {
  border-radius: 5px;
}

.input__country i {
  position: absolute;
  top: 17px;
  left: 25px;
}

#query select {
  font-family: "Nunito Sans", sans-serif;
  border: none;
  padding: 5px;
  width: 150px;
  margin: 5px;
  border-radius: 5px;
}

#query option {
  padding: 5px;
  margin: 5px;
  min-height: 200px;
}

.query-dark {
  background-color: hsl(207, 26%, 17%);
}

.query-dark select,
.query-dark input,
.query-dark .input__country {
  color: white;
}

.query-dark select,
.query-dark input {
  background-color: hsl(209, 23%, 22%);
}

.query-light {
  background-color: hsl(0, 0%, 98%);
}

.query-light select {
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 20%);
}

.query-light input {
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 20%);
}
