html {
  font-family: "Nunito Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  min-width: 20.625rem;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#query {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding: 0.625rem;
}

@media screen and (min-width: 430px) {
  #query {
    flex-direction: row;
    justify-content: space-between;
  }
}

#query input {
  padding: 0.625rem 0.625rem 0.625rem 3.125rem;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  margin: 0.3rem;
}

.input__country {
  position: relative;
}

.input__country input {
  border-radius: 5px;
}

.input__country i {
  position: absolute;
  top: 1.0625rem;
  left: 1.5625rem;
}

#query select {
  font-family: "Nunito Sans", sans-serif;
  border: none;
  padding: 0.3125rem;
  width: 9.375rem;
  margin: 0.3125rem;
  border-radius: 0.3125rem;
}

#query option {
  padding: 0.3125rem;
  margin: 0.3125rem;
  min-height: 12.5rem;
}

.query-dark {
  background-color: hsl(207, 26%, 17%);
}

.query-dark select,
.query-dark input,
.query-dark .input__country {
  color: white;
}

.query-dark select,
.query-dark input {
  background-color: hsl(209, 23%, 22%);
}

.query-light {
  background-color: hsl(0, 0%, 98%);
}

.query-light select {
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 20%);
}

.query-light input {
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 20%);
}
