html {
  font-family: "Nunito Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  min-width: 20.625rem;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#query {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding: 0.625rem;
}

@media screen and (min-width: 430px) {
  #query {
    flex-direction: row;
    justify-content: space-between;
  }
}

#query input {
  padding: 0.625rem 2rem 0.625rem 3.125rem;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  margin: 0.3rem;
}

.input__country {
  position: relative;
}

.input__country input {
  border-radius: 5px;
}

.input__country .fa-magnifying-glass {
  position: absolute;
  top: 1.0625rem;
  left: 1.5625rem;
}

.input__country .fa-circle-xmark {
  position: absolute;
  top: 1.0625rem;
  right: 1rem;
  cursor: pointer;
}
#query select {
  font-family: "Nunito Sans", sans-serif;
  border: none;
  padding: 0.3125rem;
  width: 9.375rem;
  margin: 0.3125rem;
  border-radius: 0.3125rem;
}

#query option {
  padding: 0.3125rem;
  margin: 0.3125rem;
  min-height: 12.5rem;
}

.error {
  display: flex;
  justify-content: center;
  padding: 3rem;
  flex-grow: 1;
}

.app-dark .query-container,
.app-dark .error {
  background-color: hsl(207, 26%, 17%);
}

.app-dark .query-container select,
.app-dark .query-container input,
.app-dark .query-container .input__country,
.app-dark .error {
  color: white;
}

.app-dark .query-container select,
.app-dark .query-container input {
  background-color: hsl(209, 23%, 22%);
}

.app-light .query-container,
.app-light .error {
  background-color: hsl(0, 0%, 98%);
}

.app-light .query-container select {
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 20%);
}

.app-light .query-container input {
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 20%);
}

.query-container,
.query-container select,
.query-container input,
.query-container .input__country,
.error {
  transition: all 0.3s ease-in;
}
